// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

img {
    max-width: 100%;
}

.product {
    display:flex;
    flex-wrap: wrap;
    
    img {
        height: 500px;
    }
}